# exclude platformio build directory
.pio
# exclude clion build directory
cmake-build-debug
# exclude vscode config directory
.vscode
# exclude generated config
sdkconfig
include/LocalFunctionsAndDevices.h
