# exclude platformio build directory
.pio
# exclude build directory
cmake-build-debug
build
# exclude vscode config directory
.vscode
# exclude generated config
sdkconfig
include/LocalFunctionsAndDevices.h
extras/automation/geckodriver-v0.29.1-linux64.tar.gz
extras/automation/geckodriver
extras/automation/geckodriver.log
extras/automation/config-bg.yaml
extras/automation/howto-BG.md
extras/automation/loginGuest.html
extras/automation/geckodriver.exe
extras/automation/config.yaml
src/sdkconfig.h
sdkconfig.esp32dev
docs/electroCad/fp-info-cache
docs/electroCad/SandBox.sch-bak
docs/electroCad/ser4.bck
docs/electroCad/ser4.sch-bak
docs/electroCad/ser4.kicad_pcb-bak
docs/electroCad/MainComputer.sch-bak
docs/electroCad/SteeringWheel.sch-bak
docs/electroCad/*.*-bak
docs/electroCad/*.bck
docs/electroCad/fp-info-cache
docs/electroCad/test/**
build/**
platformio-device-monitor-*.log
