# exclude platformio build directory
.pio
# exclude clion build directory
cmake-build-debug
# exclude vscode config directory
.vscode
# exclude generated config
sdkconfig
include/LocalFunctionsAndDevices.h
extras/automation/geckodriver-v0.29.1-linux64.tar.gz
extras/automation/geckodriver
extras/automation/geckodriver.log
extras/automation/config-bg.yaml
extras/automation/howto-BG.md
extras/automation/loginGuest.html
extras/automation/geckodriver.exe
extras/automation/config.yaml
